
.logout-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#nav-username {
  color: white;
  text-decoration: none; /* This removes the default underline for links */
   /* Adjust the margin as needed for spacing */
  margin-right: 10px;
}


#navbar-properties  {
  background-color: #537EAC;
}
