.dropdown-toggle {
  background-color: rgb(3, 127, 138);
  color: white; /* Text color in the dropdown button */
  padding: 5px 10px; /* Adjust padding as needed to make it smaller */
  font-size: 14px; /* Adjust font size as needed to make it smaller */
  border: none; /* Remove the border */
}
